
@model IEnumerable<TagViewModel>
@using FA.JustBlog.ViewModels.Tags
@{
    ViewBag.Title = "TagList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>TagList</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th colspan="2">Action</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Description</td>

            <td>
                <a href="@Url.Action("Tag",new {item.Id,item.Name,item.Description})" class="btn btn-primary">Edit</a>
            </td>
            <td>
                @*<a href="@Url.Action("DeleteCategory",new {item.Id})" class="btn btn-warning">Delete</a>*@
                <a class="btn btn-warning" onclick="myFunction(this,@item.Id)">Delete</a>
            </td>
        </tr>
    }
</table>
<script>
    function myFunction(a, id) {
        var b = confirm("Do you want delete Tag");
        if (b == true) {
             a.href = "@Url.Action("DeleteTag")/"+id;
        }
    }
</script>
